body {
    position: relative;
    background-color: @gray-dark;
}
#content {
    position: absolute;
    left: 250px;
    top: 40px;
    right: 0;
    padding: 0 20px 20px 0;
}
.page-title {
    margin: 5px 0;
    font-size: 24px;
}

/* = DataTables
 * ====================================================*/
.dataTable {
    width: 100%;
}
.dataTable td {
    vertical-align: middle;
}

/*= select2
 *=====================================================*/
.select2-selection {
    border-radius: 0 !important;
}

/*= Stats
 *=====================================================*/
.stat-number {
    font-size: 24px;
    font-weight: 700;
}