.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: @brand-primary;
}

.header-left {
  float: left;
}

.header-logo {
  height: 50px;
  margin-bottom: 0;
  padding: 0 20px;

  a {
    font-size: 24px;
    line-height: 50px;
    color: @gray-lighter;
  }
}

.header-right {
  float: right;
  height: 50px;
  padding: 0 20px;

  a {
    padding: 0 15px;
    color: @gray-lighter;
    line-height: 50px;
  }
}