@media only screen and (max-width: @screen-xs-max) {
  body {
    font-size: 12px;
    padding-top: 50px;
  }

  section {
    padding: 20px 0;
  }

  /*= Header
   *=====================================================*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 50px;
    background-color: #ffffff;
  }

  .main-title {
    font-size: 24px;
    line-height: 50px;
  }

  .page-title {
    font-size: 30px;
    line-height: 50px;
  }
  .page-title:before, .page-title:after {
    height: 40px;
  }

  .page-subtitle {
    font-size: 18px;
  }

  /*= Nav
   *=====================================================*/
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }

  .toggle-nav {
    margin-right: 5px;
  }

  nav.nav {
    margin: 0 -15px;
    height: auto;
  }

  .nav-list {
    position: fixed;
    display: block;
    width: 250px;
    top: 50px;
    left: 0;
    bottom: 0;
    text-align: left;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform .3s ease;
  }

  nav.nav.open > .nav-list {
    transform: translateX(0);
  }

  .nav-item {
    display: block;
    float: none;

    a {
      display: block;
      line-height: 40px;
    }
  }

  /*= Slider
   *=====================================================*/
  .slide {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect Ratio */

    .slide-outer {
      overflow: hidden;
      .slide-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
      }

      .slide-inner {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  #slide-1 {
    h2 {
      bottom: 60%;
      font-size: 28px;
    }
    .btn-ghost {
    }
  }

  #slide-2 {
    .main-link {
      font-size: 28px;
    }
  }

  #slide-3 {
    .title-container {
      width: auto;
      text-align: left;
    }
    h3 {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h2 {
      color: #fff;
      font-size: 70px;
      font-family: "Yellowtail", sans-serif;
    }
  }

  /*= Cities
   *=====================================================*/
  .city {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
  }

  .city:after {
    padding-top: 62.25%;
    display: block;
    content: '';
  }

  .city-bg {
    width: 100%;
  }

  .city {
    .city-content {
      .city-name {
        margin: 40px 0 15px;
      }
    }
  }

  /*= Features
   *=====================================================*/
  .feature {
    margin: 0;
    padding: 10px 0;
  }

  .features-container:before {
    display: none;
  }

  /*= Partners
   *=====================================================*/
  .partner {
    margin-bottom: 10px;
  }

  /*= Footer
   *=====================================================*/
  .footer-title {
    margin-top: 20px;
  }
}