.team-member {
  text-align: center;
}

.team-member-name {
  font-size: 22px;
  margin: 15px 0 5px 0;
  font-weight: 800;
}

.team-member-role {
  font-size: 14px;
  color: @gray-light;
  font-style: italic;
}